<a href="https://colab.research.google.com/github/param2070/SpitMLLabtest/blob/main/MLExp2B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [24]:
import numpy as np
import pandas as pd
import io

In [25]:
df = pd.read_csv('/content/drive/MyDrive/Exp2b/train.csv', low_memory=False)
#dftest = pd.read_csv(io.StringIO(data1['test.csv'].decode('utf-8')))

In [26]:
#print(dftrain.to_string())
#df.head()
df.dtypes

ID                           object
Customer_ID                  object
Month                        object
Name                         object
Age                          object
SSN                          object
Occupation                   object
Annual_Income                object
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                  object
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment       object
Changed_Credit_Limit         object
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt             object
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly      object
Payment_Behaviour            object
Monthly_Balance              object
Credit_Score                 object
dtype: object

In [27]:
# dftrain["source"] = "train"
# dftest["source"] = "test"
df.isnull().sum()
#df.nunique()

ID                              0
Customer_ID                     0
Month                           0
Name                         9985
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary       15002
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                11408
Delay_from_due_date             0
Num_of_Delayed_Payment       7002
Changed_Credit_Limit            0
Num_Credit_Inquiries         1965
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age           9030
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      4479
Payment_Behaviour               0
Monthly_Balance              1200
Credit_Score                    0
dtype: int64

In [28]:
#df.drop(columns=['ID', 'Customer_ID', 'Month', 'Name', 'SSN'], inplace=True, axis=1)
#print(dftrain['Annual_Income'].value_counts())

In [29]:
#df.isnull().sum()
def fix_nums(num):
    try : 
        return float(num.replace("_",""))
    except :
        return np.nan

In [30]:
for col in ['Age', 'Annual_Income', 'Num_of_Loan', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit', 'Amount_invested_monthly', 'Outstanding_Debt' , 'Monthly_Balance'] :
    df[col] = df[col].apply(fix_nums)

In [31]:
for i in df['Type_of_Loan'].value_counts().head(9).index[1:] : 
    df[i] = df['Type_of_Loan'].str.contains(i)

del df['Type_of_Loan']

In [32]:
df['Num_Bank_Accounts'] = df['Num_Bank_Accounts'].apply(lambda x :abs (x))

In [33]:
df['Num_Credit_Card'].replace(0,1,inplace=True)

In [34]:
def History_age(age):
    try : 
        years = int("".join(re.findall('[0-9]',''.join(age.split("and")[0]))))
        month = int("".join(re.findall('[0-9]',''.join(age.split("and")[1]))))
        return years*12 + month
    except :
        return np.nan

In [35]:
df['Credit_History_Age'] = df['Credit_History_Age'].apply(History_age)

In [36]:
df['Payment_of_Min_Amount'].replace("NM","No",inplace=True)
df['Payment_of_Min_Amount'].value_counts()

Yes    52326
No     47674
Name: Payment_of_Min_Amount, dtype: int64

In [37]:
df['Payment_Behaviour']= df['Payment_Behaviour'].replace("!@9#%8",np.nan)
df['Payment_Behaviour'].value_counts()

Low_spent_Small_value_payments      25513
High_spent_Medium_value_payments    17540
Low_spent_Medium_value_payments     13861
High_spent_Large_value_payments     13721
High_spent_Small_value_payments     11340
Low_spent_Large_value_payments      10425
Name: Payment_Behaviour, dtype: int64

In [38]:
id_ = "CUS_0xb891"
oc = df[df['Customer_ID'] == id_]['Occupation'].mode()[0]
df[df['Customer_ID'] == id_].replace("_______",oc)

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Monthly_Balance,Credit_Score,Credit-Builder Loan,Personal Loan,Debt Consolidation Loan,Student Loan,Payday Loan,Mortgage Loan,Auto Loan,Home Equity Loan
24,0x1626,CUS_0xb891,January,Jasond,54.0,072-31-6145,Entrepreneur,30689.89,2612.490833,2,...,433.604773,Standard,False,False,False,False,False,False,False,False
25,0x1627,CUS_0xb891,February,Jasond,54.0,072-31-6145,Entrepreneur,30689.89,2612.490833,2,...,409.951812,Standard,False,False,False,False,False,False,False,False
26,0x1628,CUS_0xb891,March,Jasond,55.0,072-31-6145,Entrepreneur,30689.89,2612.490833,2,...,411.427123,Standard,False,False,False,False,False,False,False,False
27,0x1629,CUS_0xb891,April,Jasond,55.0,072-31-6145,Entrepreneur,30689.89,2612.490833,2,...,262.499594,Standard,False,False,False,False,False,False,False,False
28,0x162a,CUS_0xb891,May,Jasond,55.0,072-31-6145,Entrepreneur,30689.89,2612.490833,2,...,359.374916,Standard,False,False,False,False,False,False,False,False
29,0x162b,CUS_0xb891,June,Jasond,55.0,#F%$D@*&8,Entrepreneur,30689.89,2612.490833,2,...,419.880784,Standard,False,False,False,False,False,False,False,False
30,0x162c,CUS_0xb891,July,Jasond,55.0,072-31-6145,Entrepreneur,30689.89,2612.490833,2,...,443.549957,Standard,False,False,False,False,False,False,False,False
31,0x162d,CUS_0xb891,August,Jasond,55.0,072-31-6145,Entrepreneur,30689.89,2612.490833,2,...,379.216381,Standard,False,False,False,False,False,False,False,False

In [39]:
for ID in df[df['Occupation'] == "_______"]['Customer_ID'] : 
    oc = df[df['Customer_ID'] == ID]['Occupation'].mode()[0]
    df[df['Customer_ID'] == ID] = df[df['Customer_ID'] == ID].replace("_______",oc)

In [40]:
df['Occupation'] = df['Occupation'].replace("_______",df['Occupation'].mode()[0])

In [41]:
m = {
    "Bad":0,
    "Standard":1,
    "Good":2,
    "_":np.nan
}
df['Credit_Mix'] = df['Credit_Mix'].map(m)

In [42]:
for col in list(df.columns[-8:]):
    df[col] = df[col].astype(float)
IDs = 1 
for ID in df['Customer_ID'].unique() :
    df['Customer_ID'] = df['Customer_ID'].replace(ID,IDs)
    IDs += 1

In [43]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=1)
Numericals = df.select_dtypes(exclude='object').columns[1:]
Numericals

Index(['Age', 'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
       'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Monthly_Balance', 'Credit-Builder Loan',
       'Personal Loan', 'Debt Consolidation Loan', 'Student Loan',
       'Payday Loan', 'Mortgage Loan', 'Auto Loan', 'Home Equity Loan'],
      dtype='object')

In [44]:
for col in Numericals[1:]:
    imputer.fit(df[['Customer_ID',col]])
    df[['Customer_ID',col]] = imputer.transform(df[['Customer_ID',col]])

ValueError: ignored